flow2.py
[{"id":"55834c25.c8a0b4","type":"inject","z":"2b3c3595.a27d9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":130,"y":200,"wires":[["bbf2d8ae.f631b8"]]},{"id":"bbf2d8ae.f631b8","type":"function","z":"2b3c3595.a27d9a","name":"Payload","func":"msg.headers={\n    deviceKey: \"DO1XdiMmLpZj78AR\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":160,"y":340,"wires":[["394676f7.2056aa"]]},{"id":"394676f7.2056aa","type":"http request","z":"2b3c3595.a27d9a","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DwJKlbdn/datachannels/LEDControl/datapoints.csv","tls":"","x":350,"y":340,"wires":[["51193f11.0a622","c93c83b8.b05cf"]]},{"id":"51193f11.0a622","type":"http response","z":"2b3c3595.a27d9a","name":"","statusCode":"","headers":{},"x":550,"y":340,"wires":[]},{"id":"c93c83b8.b05cf","type":"debug","z":"2b3c3595.a27d9a","name":"","active":true,"console":"false","complete":"false","x":543.3000335693359,"y":426.26668548583984,"wires":[]}]
