flow3.py
[{"id":"e8a20cfe.a00a1","type":"inject","z":"19215253.b8b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":210,"y":660,"wires":[["ebe5e67f.c6a7e8"]]},{"id":"ebe5e67f.c6a7e8","type":"function","z":"19215253.b8b2fe","name":"Payload","func":"msg.headers={\n    deviceKey: \"DO1XdiMmLpZj78AR\"\n    };\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":800,"wires":[["fb5253f6.ca7d4"]]},{"id":"fb5253f6.ca7d4","type":"http request","z":"19215253.b8b2fe","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DwJKlbdn/datapoints.csv","tls":"","x":430,"y":800,"wires":[["29376fb8.d1dfb","f351599b.f4dfb8"]]},{"id":"29376fb8.d1dfb","type":"http response","z":"19215253.b8b2fe","name":"","statusCode":"","headers":{},"x":630,"y":800,"wires":[]},{"id":"f351599b.f4dfb8","type":"debug","z":"19215253.b8b2fe","name":"","active":true,"console":"false","complete":"payload","x":623.3000335693359,"y":886.2666854858398,"wires":[]}]
